.Action-Body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Action-Body-Info-Container {
    min-width: 700px;
    max-width: 1000px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.Card-Container {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Pan-Card-Container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Form_Item_Container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}